body {
  background-color: #f3f3f3;
  box-sizing: border-box;
  position: relative;
  &::-webkit-scrollbar {
    display: none;
  }
  .hidden {
    display: none;
  }

  .blur {
    filter: blur(4px);
  }
}
