//  Fonts
$montserrat: "Montserrat", sans-serif;
$inter: "Inter", sans-serif;

// Colors
$primary-color: #1d202f;
$secondary-color: #51608f;
$white: #fff;
$text-color: #000000;
$text-color-hover: #c4d4e8;
$button-color-hover: #5d6981;