@use "../abstract/variables";
@use "../abstract/mixins";

@media screen and (max-width: 1024px) {
  body {
    width: 100dvw;
    .links-container {
      max-width: 80%;
      align-self: center;
      border-bottom-left-radius: 0.2em;
      border-bottom-right-radius: 0.2em;
      .links-list {
        gap: 4em;
        .links-button {
          font-size: 1.2rem;
        }
      }
    }

    .main-container {
      width: 100dvw;
      .header__container {
        width: 100%;
        padding: 1em;
        justify-content: space-around;
        gap: 0;
      }
    }

    .modal {
      width: 75%;
      top: 25%;
      left: 8%;
      .submit-task {
        #created-task,
        #edited-task {
          padding: 1.2em;
        }
        .submit-button {
          font-size: 1em;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    width: 100dvw;
    display: flex;
    flex-direction: column;
    .links-container {
      max-width: 83%;
      align-self: center;
      border-bottom-left-radius: 0.5em;
      border-bottom-right-radius: 0.5em;
      .links-list {
        gap: 2em;
        .links-button {
          font-size: 1rem;
        }
      }
    }

    .main-container {
      width: 100dvw;
      margin: 2em 0;
      .header__container {
        width: 100%;
        padding: 1em;
        justify-content: space-around;
        gap: 0;

        .header__title__container {
          gap: 1em;
          justify-content: space-around;
          .header__title {
            font-size: 1.5rem;
          }
        }
        #new-task {
          gap: 0.5em;
          font-size: 1.2rem;
        }
      }

      .tasks__container {
        .tasks__list {
          gap: 1em;
          .task {
            .buttons-container {
              gap: 0.5em;
              .button-edit,
              .button-delete {
                padding: 0.5em 1em;
                border-radius: 0.5em;
              }
              .button-edit {
                font-size: 0.7rem;
              }
              .button-delete {
                font-size: 1rem;
              }
            }
            .task-content {
              font-size: 1.2rem;
            }
          }
        }
      }

      .modal {
        width: 75%;
        top: 25%;
        left: 6.55%;
        .fa-x {
          top: 7%;
          right: 5%;
        }

        label {
          font-size: 1.3rem;
          font-weight: 600;
        }
      }
      .submit-task {
        #created-task,
        #edited-task {
          padding: 0.8em;
          font-size: 1.2rem;
          &::placeholder {
            font-size: 1rem;
          }
        }
        .submit-button {
          font-size: 0.9rem;
        }
      }

      .clear-all {
        font-size: 1.2rem;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  body {
    width: 100dvw;
    display: flex;
    flex-direction: column;
    .links-container {
      max-width: 80%;
      align-self: center;
      border-bottom-left-radius: 0.5em;
      border-bottom-right-radius: 0.5em;
      .links-list {
        gap: 2em;
        .links-button {
          font-size: 1rem;
        }
      }
    }

    .main-container {
      width: 100dvw;
      margin: 2em 0;
      .header__container {
        width: 100%;
        padding: 1em;
        justify-content: space-around;
        gap: 0;
        border: none;
        .header__title__container {
          gap: 1em;
          justify-content: space-around;
          .header__title {
            font-size: 1.5rem;
          }
        }
        #new-task {
          gap: 0.5em;
          padding: 0.5em 1em;
          font-size: 1.2rem;
        }
      }

      .tasks__container {
        .tasks__list {
          gap: 1em;
          .task {
            gap: 1em;
            flex-wrap: wrap;
            border-bottom: 1px solid variables.$primary-color;
            border-radius: 0;
            margin: 0 1em;
            .buttons-container {
              gap: 0.5em;
              .button {
                &-edit,
                &-delete {
                  padding: 0.5em 1em;
                  border-radius: 0.5em;
                }
                &-edit {
                  font-size: 0.6em;
                }
                &-delete {
                  font-size: 0.9em;
                }
              }
            }
            .task-content {
              font-size: 1rem;
              font-weight: 500;
              max-width: 100%;
            }
          }
        }
        .clear-all {
          font-size: 1.3rem;
        }
      }
    }

    .modal {
      width: 75%;
      top: 25%;
      left: 6%;
      .fa-x {
        top: 6%;
        right: 8%;
      }
      label {
        font-size: 1.3rem;
        font-weight: 600;
      }
      .submit-task {
        display: flex;
        flex-direction: column;
        gap: 0.6em;
        #created-task,
        #edited-task {
          padding: 1em;
          border-radius: 0.5em;
          &::placeholder {
            font-size: 1rem;
          }
          &:focus {
            outline: 1px solid variables.$primary-color;
          }
        }
        .submit-button {
          align-self: center;
          width: 60%;
          font-size: 1em;
          padding: 0.5em;
          border-radius: 0.5em;
        }
      }
      .alert-text {
        font-size: 1.3rem;
      }
    }
  }
}

@media screen and (max-width: 380px) {
  body {
    .links-container {
      width: 70%;
      .links-list {
        gap: 2em;
        .links-button {
          font-size: 0.7rem;
        }
      }
    }

    .main-container {
      .header__container {
        padding: 0.5em;
        justify-content: space-around;
        align-items: center;
        border: none;
        .header__title__container {
          font-size: 0.6rem;
          .header__title {
            font-size: 1.2rem;
          }
        }
        #new-task {
          font-size: 0.9rem;
        }
      }

      .tasks__container {
        .tasks__list {
          gap: 0.5em;
          .task {
            flex-direction: column;
            border-bottom: 1px solid variables.$primary-color;
            border-radius: 0;
            margin: 0 1em;
            .buttons-container {
              gap: 0.5em;
              align-self: flex-end;
              .button {
                &-edit,
                &-delete {
                  border: 1px solid variables.$primary-color;
                  border-radius: 0.5em;
                  color: variables.$primary-color;
                  padding: 0.3em 1em;
                }

                &-edit {
                  font-size: 0.7rem;
                }

                &-delete {
                  font-size: 1rem;
                  color: red;
                }
              }
              .task-content {
                font-size: 1rem;
                font-weight: 500;
                max-width: 100%;
                overflow-x: auto;
                overflow-y: hidden;
              }
            }
          }
        }
        .clear-all {
          font-size: 1.2rem;
        }
      }
      .modal {
        width: 75%;
        top: 25%;
        left: 4%;
        .fa-x {
          top: 7%;
          right: 8%;
        }
        label {
          font-size: 1.3rem;
          font-weight: 600;
        }
        .submit-task {
          display: flex;
          flex-direction: column;
          gap: 0.6em;
          #created-task,
          #edited-task {
            padding: 1em;
            border-radius: 0.5em;
            &::placeholder {
              font-size: 1rem;
            }
            &:focus {
              outline: 1px solid variables.$primary-color;
            }
          }
          .submit-button {
            align-self: center;
            width: 60%;
            font-size: 1em;
            padding: 0.5em;
            border-radius: 0.5em;
          }
        }
        .alert-text {
          font-size: 1rem;
        }
      }
    }
  }
}
