@use "../abstract/variables";
@use "../abstract/mixins";

.modal {
  background-color: variables.$white;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em;
  height: 20rem;
  width: 40%;
  border-radius: 20px;
  place-content: center;
  position: fixed;
  top: 25%;
  left: 28%;
  animation: modalOpen 0.3s ease-in-out;
  .fa-x {
    @include mixins.cursor-pointer();
    position: absolute;
    top: 8%;
    right: 5%;
    color: red;
  }
  label {
    @include mixins.font-family-size-color(
      variables.$inter,
      1.4rem,
      variables.$primary-color
    );
    font-weight: 600;
    &:hover {
      @include mixins.cursor-pointer();
    }
  }
  .submit-task {
    display: flex;
    #created-task,
    #edited-task {
      flex: 2;
      padding: 1.5em;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      border: none;
      background-color: variables.$text-color-hover;
      color: variables.$white;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      font-size: 1rem;
      &::placeholder {
        @include mixins.font-family-size-color(
          variables.$montserrat,
          1.3rem,
          variables.$white
        );
        padding: 1em;
        text-align: center;
              font-weight: 500;
              text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      }
    }
    .submit-button {
      @include mixins.cursor-pointer();
      @include mixins.font-family-size-color(
        variables.$montserrat,
        1rem,
        variables.$white
      );
      font-weight: 500;
      flex: 1;
      border: none;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      background-color: variables.$primary-color;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  .alert-text {
    @include mixins.font-family-size-color(variables.$inter, 1.3rem, red);
    font-weight: 500;
    text-align: center;
  }
}

@keyframes modalOpen {
  from {
    top: 0%;
    opacity: 0;
  }
  to {
    top: 25%;
    opacity: 1;
  }
}
