@use "../abstract/variables";
@use "../abstract/mixins";

.tasks__container {
  .tasks__list {
    display: flex;
    flex-direction: column;
    padding: 2em 0;
    gap: 2em;
    .task {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 8px;
      padding: 1em;

      .buttons-container {
        display: flex;
        gap: 0.8em;

        .button {
          &-edit {
            border: 1px solid variables.$primary-color;
            border-radius: 1em;
            color: variables.$primary-color;
            padding: 0.5em 2em;
          }

          &-delete {
            padding: 0.5em 2em;
            border-radius: 1em;
            border: 1px solid variables.$primary-color;
            font-size: 18px;
            color: red;
          }
          &-edit:hover,
          &-delete:hover {
            @include mixins.cursor-pointer();
            background-color: variables.$white;
          }
        }
      }
      &-content {
        @include mixins.font-family-size-color(
          variables.$montserrat,
          1.2rem,
          variables.$text-color
        );
        text-transform: capitalize;
      }
    }
  }
  .clear-all {
    @include mixins.cursor-pointer();
    @include mixins.font-family-size-color(variables.$inter, 1.5rem, red);
    padding: 0.5em;
    border: none;
  }
}
